.social-list {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: transparent;

    transition: color var(--anim), background-color var(--anim);

&:hover,
&:focus {
    background-color: var(--accent-txt-color);
    border-color: var(--accent-txt-color);
}
}

.social-icon {
    fill: var(--icon-color);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    transition: fill var(--anim);

.social-link:hover &,
.social-link:focus &{
    fill: var(--light-txt-color);
}
}