.priority {

&__titel {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

&__list {
    display: flex;
    gap: 30px;
}

&__text {
    line-height: calc(24 / 14);
    color: var(--second-txt-color);
}
}

.feature {
    height: 120px;
    background-color: var(--accent-bg-color);
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;

    &__icon {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 0;
    }
}

.benefis {
    @extend %section;
}